{%- if site.addthis.pub_id -%}
{%- comment -%}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis.pub_id }}"></script>
{%- endcomment -%}
<script type="text/javascript" async>
(function(){
    window.addthis_pub_id = "{{ site.addthis.pub_id }}";
})();
</script>
{%- endif -%}
