<div class="column is-one-third-desktop">
    <div class="card related-post">

        {%- if post.image -%}
        <div class="card-image">
            <figure class="image is-4by3">
                <a href="{{ post.url | relative_url | prepend: site.baseurl }}">
                    {% responsive_image_block %}
                    path: {{ post.image | remove_first: '/' }}
                    template: _includes/post-card-image.html
                    alt: {{ post.title }}
                    title: {{ post.title }}
                    {% endresponsive_image_block %}
                    <div class="card-image-overlay"></div>
                </a>
            </figure>
        </div>
        {%- else -%}
        <div class="card-content">
            <a href="{{ post.url | relative_url | prepend: site.baseurl }}">
                <span>
                    {{ post.excerpt | strip_html }}
                </span>
            </a>
        </div>
        {%- endif -%}

        <div class="card-footer">
            <div class="card-footer-details">
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url | prepend: site.baseurl }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
            </div>
        </div>

    </div>
</div>