<div class="card card-post h-item">
    {%- if post.image -%}
    <div class="card-image">
        <figure class="image is-4by3">
            <a href="{{ post.url | relative_url | prepend: site.baseurl }}">
                {% responsive_image_block %}
                path: "{{ post.image | remove_first: '/' }}"
                template: _includes/post-card-image.html
                alt: "{{ post.title }}"
                title: "{{ post.title }}"
                {% endresponsive_image_block %}
                <div class="card-image-overlay"></div>
            </a>
        </figure>
    </div>
    {%- else -%}
    <div class="card-content">
        <a href="{{ post.url | relative_url | prepend: site.baseurl }}">
            <span>
                {{ post.excerpt | strip_html }}
            </span>
        </a>
    </div>
    {%- endif -%}

    <div class="card-footer">
        <div class="card-footer-details">
            <h3>
                <a class="post-link p-name" href="{{ post.url | relative_url | prepend: site.baseurl }}">
                    {{ post.title | escape }}
                </a>
            </h3>

            <div class="post-meta">
                <span class="post-meta-date">{{ post.date | date: date_format }}</span>
                {%- if post.category -%}
                {{ " | " }}
                {% for category in post.category %}
                <span class="post-meta-category">
                    <a href="/category/{{ category | slugify }}/">
                        {{ site.data.c[category] }}
                    </a>
                </span>
                {% endfor %}
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
