{%- comment -%}
<script>
var disqus_config = function () {
this.page.url = "{{ page.url | absolute_url }}";
this.page.identifier = "{{ page.url | relative_url | replace: '/', ' ' | strip | replace: ' ', '-' }}";
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{%- endcomment -%}

<script type="text/javascript" async>
    var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";
        this.page.identifier = "{{ page.url | relative_url | replace: '/', ' ' | strip | replace: ' ', '-' }}";
    };
    (function(){
        window.disqus_shortname = "{{ site.disqus.shortname }}";
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
