<head>
  <!-- WHOOP WHOOP WHOOP! Nice to see you here! -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- App stylesheet -->
  <link rel="stylesheet" href="/assets/main.css">
  {%- include icons.html -%}
  <!-- All the other stuff -->
  {%- include google-tag-manager-head.html -%}
  {%- include favicon.html -%}
  {%- seo -%}
  {%- feed_meta -%}
  {%- if site.google.verification -%}
  <meta name="google-site-verification" content="{{ site.google.verification }}">
  {%- endif -%}
  <script type="text/javascript" async>
    WebFontConfig = {
      google: {
        families: [
          'Roboto:400,700:latin,latin-ext,cyrillic',
          'PT Sans Narrow:400,600:latin,latin-ext,cyrillic',
          'Roboto+Mono:400,700',
        ]
      }
    };
  </script>
</head>