{% if paginator.total_pages > 1 %}

<div>
  <hr />

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {%- if paginator.previous_page -%}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      title="{{ site.data.t[site.lang]['pagePrev'] }}" aria-label="{{ site.data.t[site.lang].pagination.pagePrev }}"
      class="pagination-previous">&laquo;</a>
    {%- else -%}
    <span class="pagination-previous">&laquo;</span>
    {%- endif -%}

    {%- if paginator.next_page -%}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="{{ site.data.t[site.lang].pagination.pageNext }}"
      aria-label="{{ site.data.t[site.lang]['pageNext'] }}" class="pagination-next">&raquo;</a>
    {%- else -%}
    <span class="pagination-next">&raquo;</span>
    {%- endif -%}

    <ul class="pagination-list">
      {%- for trail in paginator.page_trail -%}
      <li>
        <a href="{{ trail.path | prepend: site.baseurl }}"
          aria-label="{{ site.data.t[site.lang].pagination.page }} {{ trail.num }}"
          title="{{ site.data.t[site.lang].pagination.page }} {{ trail.title }}"
          class="pagination-link {% if page.url == trail.path %}is-current{%- endif -%}">{{ trail.num }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>
{% endif %}