<div class="columns is-multiline post-list">
    {%- for post in page.posts -%}
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}

    <div class="column is-half card-post-container">
        {%- include card-post.html -%}
    </div>
    {% endfor %}
</div>