{%- assign smallest = resized | sort: 'width' | first -%}
{%- assign largest = resized | sort: 'width' | last -%}

{%- capture srcset -%}
{%- for i in resized -%}
/{{ i.path | url_encode }} {{ i.width }}w,{{ " " }}
{%- endfor -%}
/{{ path | url_encode }} {{ original.width }}w
{%- endcapture -%}

{%- capture sizes -%}
{%- for i in resized -%}
(max-width: {{ i.width | plus: 80 }}px) {{ i.width }}px,{{ " " }}
{%- endfor -%}
{{ original.width }}px
{%- endcapture -%}

<figure class="image">
  <img
    src="/{{ smallest.path }}"
    data-src="/{{ largest.path }}"
    data-srcset="{{ srcset | strip_newlines | strip }}"
    sizes="{{ sizes }}"
    alt="{{ title }}"
    title="{{ title }}"
    class="lazy"
    loading="lazy"
  />

  {%- if title- %}
  <figcaption>{{ title }}</figcaption>
  {%- endif -%}
</figure>
