<body class="nimbus-is-editor" data-gr-c-s-loaded="true"><nav class="navbar is-hidden-desktop" role="navigation" aria-label="mobile navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarMenu">



      <a href="/" title="Lorem Ipsum" class="navbar-item">Lorem Ipsum</a>


      <a href="/links/" title="Links" class="navbar-item">Links</a>

    </div>
  </nav>

  <div class="container columns is-desktop">
    <div class="column is-one-fifth-desktop">
      <header class="header has-text-centered">
        <div class="site-title-block">
          <div class="site-title">Andrey Ovcharov</div>
          <p class="site-description has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


          <figure class="site-author-photo image is-128x128 is-hidden-touch">
            <img src="https://picsum.photos/200/200" alt="Andrey Ovcharov" class="is-rounded">
          </figure>

        </div>

        <nav class="site-nav is-hidden-touch">
          <ul class="site-main-menu">



            <li>
              <a href="/" title="Lorem Ipsum">Lorem Ipsum</a>
            </li>


            <li>
              <a href="/links/" title="Links">Links</a>
            </li>

          </ul>
        </nav>


        <div class="has-text-centered is-hidden-touch">
          <div class="addthis_inline_follow_toolbox"><div id="atftbx" class="at-follow-tbx-element addthis-smartlayers addthis-animated at4-show"><p><span></span></p><div class="addthis_toolbox addthis_default_style"><a class="at300b at-follow-btn" data-svc="github" data-svc-id="snakeye" title="Follow on GitHub" href="https://github.com/snakeye" target="_blank"><span class="at-icon-wrapper" style="background-color: rgb(23, 21, 21); line-height: 20px; height: 20px; width: 20px; border-radius: 8%;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-github-11" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;" class="at-icon at-icon-github"><title id="at-svg-github-11">GitHub</title><g><path d="M20.388 27s-.234-.337-.234-.562v-3.95c0-1.212-.325-2.1-.974-2.66.712-.075 1.352-.188 1.92-.337a7.65 7.65 0 0 0 1.76-.73 5.234 5.234 0 0 0 1.517-1.245c.406-.493.736-1.15.992-1.966.255-.82.383-1.76.383-2.82 0-1.51-.493-2.796-1.48-3.857.463-1.137.413-2.41-.15-3.82-.35-.113-.854-.044-1.516.205-.662.25-1.236.525-1.723.824l-.71.45a13.29 13.29 0 0 0-3.597-.487 13.29 13.29 0 0 0-3.595.487c-.2-.138-.465-.306-.796-.506-.33-.2-.852-.44-1.564-.72-.712-.282-1.248-.366-1.61-.254-.55 1.41-.593 2.684-.13 3.82C7.893 9.935 7.4 11.22 7.4 12.73c0 1.06.127 1.998.383 2.81.256.81.584 1.466.983 1.966.4.5.902.917 1.508 1.254a7.65 7.65 0 0 0 1.76.73c.568.15 1.208.263 1.92.338-.5.45-.806 1.092-.918 1.93a3.714 3.714 0 0 1-.843.28 5.3 5.3 0 0 1-1.067.093c-.412 0-.82-.133-1.227-.402-.405-.268-.75-.658-1.038-1.17a3.02 3.02 0 0 0-.908-.974c-.37-.25-.678-.4-.927-.45l-.375-.055c-.262 0-.443.027-.543.083-.1.056-.132.128-.095.215.038.088.094.175.17.262.074.088.155.163.242.225l.13.094c.276.124.548.36.816.71.268.35.465.668.59.955l.187.43c.162.476.437.86.824 1.153.387.293.805.48 1.255.562.448.08.882.124 1.3.13a5.51 5.51 0 0 0 1.04-.065l.43-.075c0 .475.004 1.03.01 1.667l.01 1.01c0 .226-.244.563-.244.563h7.612z" fill-rule="evenodd"></path></g></svg></span><span class="addthis_follow_label"><span class="at4-visually-hidden">Follow on </span>GitHub</span></a><a class="at300b at-follow-btn" data-svc="linkedin" data-svc-id="snakeye" title="Follow on LinkedIn" href="http://www.linkedin.com/in/snakeye" target="_blank"><span class="at-icon-wrapper" style="background-color: rgb(0, 119, 181); line-height: 20px; height: 20px; width: 20px; border-radius: 8%;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-linkedin-12" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;" class="at-icon at-icon-linkedin"><title id="at-svg-linkedin-12">LinkedIn</title><g><path d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z" fill-rule="evenodd"></path></g></svg></span><span class="addthis_follow_label"><span class="at4-visually-hidden">Follow on </span>LinkedIn</span></a><a class="at300b at-follow-btn" data-svc="facebook" data-svc-id="ovcharov" title="Follow on Facebook" href="http://www.facebook.com/ovcharov" target="_blank"><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152); line-height: 20px; height: 20px; width: 20px; border-radius: 8%;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-13" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;" class="at-icon at-icon-facebook"><title id="at-svg-facebook-13">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg></span><span class="addthis_follow_label"><span class="at4-visually-hidden">Follow on </span>Facebook</span></a><a class="at300b at-follow-btn" data-svc="instagram" data-svc-id="andrey.ovcharov" title="Follow on Instagram" href="http://instagram.com/andrey.ovcharov" target="_blank"><span class="at-icon-wrapper" style="background-color: rgb(224, 53, 102); line-height: 20px; height: 20px; width: 20px; border-radius: 8%;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-instagram-14" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;" class="at-icon at-icon-instagram"><title id="at-svg-instagram-14">Instagram</title><g><path d="M16 5c-2.987 0-3.362.013-4.535.066-1.17.054-1.97.24-2.67.512a5.392 5.392 0 0 0-1.95 1.268 5.392 5.392 0 0 0-1.267 1.95c-.272.698-.458 1.498-.512 2.67C5.013 12.637 5 13.012 5 16s.013 3.362.066 4.535c.054 1.17.24 1.97.512 2.67.28.724.657 1.337 1.268 1.95a5.392 5.392 0 0 0 1.95 1.268c.698.27 1.498.457 2.67.51 1.172.054 1.547.067 4.534.067s3.362-.013 4.535-.066c1.17-.054 1.97-.24 2.67-.51a5.392 5.392 0 0 0 1.95-1.27 5.392 5.392 0 0 0 1.268-1.95c.27-.698.457-1.498.51-2.67.054-1.172.067-1.547.067-4.534s-.013-3.362-.066-4.535c-.054-1.17-.24-1.97-.51-2.67a5.392 5.392 0 0 0-1.27-1.95 5.392 5.392 0 0 0-1.95-1.267c-.698-.272-1.498-.458-2.67-.512C19.363 5.013 18.988 5 16 5zm0 1.982c2.937 0 3.285.01 4.445.064 1.072.05 1.655.228 2.042.38.514.198.88.437 1.265.822.385.385.624.75.823 1.265.15.387.33.97.38 2.042.052 1.16.063 1.508.063 4.445 0 2.937-.01 3.285-.064 4.445-.05 1.072-.228 1.655-.38 2.042-.198.514-.437.88-.822 1.265-.385.385-.75.624-1.265.823-.387.15-.97.33-2.042.38-1.16.052-1.508.063-4.445.063-2.937 0-3.285-.01-4.445-.064-1.072-.05-1.655-.228-2.042-.38-.514-.198-.88-.437-1.265-.822a3.408 3.408 0 0 1-.823-1.265c-.15-.387-.33-.97-.38-2.042-.052-1.16-.063-1.508-.063-4.445 0-2.937.01-3.285.064-4.445.05-1.072.228-1.655.38-2.042.198-.514.437-.88.822-1.265.385-.385.75-.624 1.265-.823.387-.15.97-.33 2.042-.38 1.16-.052 1.508-.063 4.445-.063zm0 12.685a3.667 3.667 0 1 1 0-7.334 3.667 3.667 0 0 1 0 7.334zm0-9.316a5.65 5.65 0 1 0 0 11.3 5.65 5.65 0 0 0 0-11.3zm7.192-.222a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0" fill-rule="evenodd"></path></g></svg></span><span class="addthis_follow_label"><span class="at4-visually-hidden">Follow on </span>Instagram</span></a><a class="at300b at-follow-btn" data-svc="telegram" data-svc-id="offcharoff" title="Follow on Telegram" href="https://telegram.me/offcharoff" target="_blank"><span class="at-icon-wrapper" style="background-color: rgb(0, 136, 204); line-height: 20px; height: 20px; width: 20px; border-radius: 8%;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-telegram-15" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;" class="at-icon at-icon-telegram"><title id="at-svg-telegram-15">Telegram</title><g><g fill-rule="evenodd"></g><path d="M15.02 20.814l9.31-12.48L9.554 17.24l1.92 6.42c.225.63.114.88.767.88l.344-5.22 2.436 1.494z" opacity=".6"></path><path d="M12.24 24.54c.504 0 .727-.234 1.008-.51l2.687-2.655-3.35-2.054-.344 5.22z" opacity=".3"></path><path d="M12.583 19.322l8.12 6.095c.926.52 1.595.25 1.826-.874l3.304-15.825c.338-1.378-.517-2.003-1.403-1.594L5.024 14.727c-1.325.54-1.317 1.29-.24 1.625l4.98 1.58 11.53-7.39c.543-.336 1.043-.156.633.214"></path></g></svg></span><span class="addthis_follow_label"><span class="at4-visually-hidden">Follow on </span>Telegram</span></a><a class="at300b at-follow-btn" data-svc="rss" data-svc-id="/feed.xml" title="Follow on RSS" href="/feed.xml" target="_blank"><span class="at-icon-wrapper" style="background-color: rgb(239, 134, 71); line-height: 20px; height: 20px; width: 20px; border-radius: 8%;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-rss-16" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;" class="at-icon at-icon-rss"><title id="at-svg-rss-16">RSS</title><g><path d="M11.454 23.273a2.63 2.63 0 0 1-.796 1.932 2.63 2.63 0 0 1-1.93.795 2.63 2.63 0 0 1-1.933-.795A2.63 2.63 0 0 1 6 23.273c0-.758.265-1.402.795-1.932a2.63 2.63 0 0 1 1.932-.795c.757 0 1.4.266 1.93.796.532.53.797 1.175.797 1.933zm7.272 1.747a.86.86 0 0 1-.242.682.837.837 0 0 1-.667.298H15.9a.873.873 0 0 1-.61-.234.865.865 0 0 1-.285-.59c-.21-2.168-1.082-4.022-2.62-5.56-1.54-1.54-3.393-2.413-5.56-2.622a.865.865 0 0 1-.59-.284A.873.873 0 0 1 6 16.1V14.18c0-.275.1-.497.298-.668.16-.16.365-.24.61-.24h.072c1.515.122 2.964.503 4.346 1.142 1.382.64 2.61 1.5 3.68 2.578a12.56 12.56 0 0 1 2.576 3.68c.64 1.382 1.02 2.83 1.144 4.346zm7.27.028a.82.82 0 0 1-.254.668.84.84 0 0 1-.654.284h-2.03a.887.887 0 0 1-.633-.25.85.85 0 0 1-.277-.602 15.88 15.88 0 0 0-1.434-5.803c-.843-1.832-1.94-3.423-3.288-4.773-1.35-1.35-2.94-2.445-4.772-3.288a16.085 16.085 0 0 0-5.802-1.45.85.85 0 0 1-.603-.276A.87.87 0 0 1 6 8.94V6.91a.84.84 0 0 1 .284-.654A.85.85 0 0 1 6.91 6h.042c2.48.123 4.855.69 7.122 1.705a19.91 19.91 0 0 1 6.043 4.176 19.913 19.913 0 0 1 4.176 6.045 19.712 19.712 0 0 1 1.704 7.123z" fill-rule="evenodd"></path></g></svg></span><span class="addthis_follow_label"><span class="at4-visually-hidden">Follow on </span>RSS</span></a><div class="atclear"></div></div></div></div>
        </div>


      </header>
    </div>

    <div class="column is-four-fifths-desktop">
      <section class="site-main">
        <div class="site-content">
          <div class="pt-page">
            <section class="blog-post-content">
  <h1 class="page-heading">Matumba</h1>

  <div class="tags">

    <a href="/tag/lorem/" class="tag">
      #Lorem
    </a>

    <a href="/tag/ipsum/" class="tag">
      #ipsum
    </a>

  </div>

  <div class="post-meta"><span class="post-meta-date">Jun 1, 2019</span> |

    <span class="post-meta-category">
      <a href="/category/category/">
        category
      </a>
    </span>
    </div>

  <article class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra hendrerit commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent diam justo, vestibulum at enim vel, blandit tristique purus. Sed gravida scelerisque vehicula. Mauris lorem neque, auctor sit amet pulvinar et, tempor ac nibh. Pellentesque viverra orci erat, id facilisis odio tincidunt a. Mauris vel dolor lacus. Suspendisse eu ipsum in augue tincidunt dictum. Sed vitae cursus odio. Etiam et felis venenatis mi porta finibus. Maecenas volutpat eu orci efficitur interdum. Donec ullamcorper nunc a tincidunt molestie. Suspendisse ut nisi mi. Vestibulum ultrices nisi non mi porta ultricies. Vestibulum vel congue dolor. In vulputate varius odio, at condimentum lacus congue at.</p>

<figure class="image">
  <img src="/uploads/resized/image-w800.jpg" data-src="/uploads/resized/image-w800.jpg" data-srcset="/uploads%2Fresized%2Fimage-w150.jpg 150w, /uploads%2Fresized%2Fimage-w300.jpg 300w, /uploads%2Fresized%2Fimage-w600.jpg 600w, /uploads%2Fresized%2Fimage-w800.jpg 800w, /uploads%2Fimage.jpg 1024w" sizes="(max-width: 230px) 150px, (max-width: 380px) 300px, (max-width: 680px) 600px, (max-width: 880px) 800px, 1024px" alt="Lorem ipsum dolor sit amet" title="Lorem ipsum dolor sit amet" class="" srcset="/uploads%2Fresized%2Fimage-w150.jpg 150w, /uploads%2Fresized%2Fimage-w300.jpg 300w, /uploads%2Fresized%2Fimage-w600.jpg 600w, /uploads%2Fresized%2Fimage-w800.jpg 800w, /uploads%2Fimage.jpg 1024w"></figure>

<h1 id="h1">H1</h1>

<p>Text</p>

<h2 id="h2">H2</h2>

<p>Text</p>

<h3 id="h3">H3</h3>

<p>Text</p>

<h4 id="h4">H4</h4>

<p>Text</p>

<p>Testing links</p>

<ul>
  <li><a href="/page">Link Internal</a></li>
  <li><a rel="nofollow noopener noreferrer" target="_blank" href="http://ya.ru/">Link External http</a></li>
  <li><a rel="nofollow noopener noreferrer" target="_blank" href="https://ya.ru/">Link External https</a></li>
</ul>

<p>Donec aliquam euismod est, sit amet elementum sapien sollicitudin sed. Sed laoreet molestie nisl sit amet vehicula. Quisque tincidunt ut tellus ut porta.</p>

<blockquote>
  <p>Подробнее об этих датчиках можно почитать здесь:</p>

  <ul>
    <li><a href="/2018/10/21/co2-sensor-mh-z19b/">Про <strong>MH-Z19B</strong></a></li>
    <li><a href="/2020/05/31/co2-sensor-ccs811/">Про <strong>CCS811</strong></a></li>
  </ul>
</blockquote>

<p>Donec aliquam euismod est, sit amet elementum sapien sollicitudin sed. Sed laoreet molestie nisl sit amet vehicula. Quisque tincidunt ut tellus ut porta.</p>

<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>MH-Z19B</th>
      <th>CCS811</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Тип датчика</td>
      <td>инфракрасный</td>
      <td>оксид металла</td>
    </tr>
    <tr>
      <td>Напряжение питания</td>
      <td>4.5V - 5.5V</td>
      <td>1.8V - 3.6V</td>
    </tr>
    <tr>
      <td>Потребление тока</td>
      <td>60mA</td>
      <td>30mA</td>
    </tr>
    <tr>
      <td>Диапазон измерения</td>
      <td>0 - 5000ppm</td>
      <td>400-29206ppm</td>
    </tr>
    <tr>
      <td>Интерфейс</td>
      <td>UART, PWM</td>
      <td>I2C</td>
    </tr>
    <tr>
      <td>Цена</td>
      <td>~15 евро</td>
      <td>~8 евро</td>
    </tr>
  </tbody>
</table>

<p>Nam et nunc vel elit bibendum imperdiet quis vitae nibh. Aliquam erat volutpat. Pellentesque eget sagittis nibh, eu gravida lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam posuere odio at nisi pharetra lacinia. Praesent scelerisque tempus felis, in finibus neque feugiat ut. Praesent faucibus, augue ac eleifend tempus, est sapien placerat ipsum, at dictum tortor purus at mauris. In at lacinia leo. Nam lobortis urna vitae diam dictum, quis tempus mi facilisis. Sed non molestie metus.</p>

<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Lorem ipsum dolor sit amet</li>
</ul>

<p>Mauris magna eros, egestas non odio ut, condimentum dapibus est. Vivamus id tempor nisl, eget varius quam. Nulla cursus posuere tellus ac varius. Donec feugiat diam at lacus facilisis, eu fermentum velit venenatis. Suspendisse non lacus massa. Mauris ac mattis arcu. Cras vitae urna vehicula, tristique libero ut, tempus lacus. Mauris in nisi a purus dictum auctor in ac nibh.</p>

<ol>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Lorem ipsum dolor sit amet</li>
</ol>

<p>Vivamus nec imperdiet turpis, nec vestibulum libero. Pellentesque tincidunt nisi et euismod dapibus. Nullam facilisis est quam, a consectetur enim mattis aliquet. Praesent lacinia metus et tincidunt cursus. Vestibulum ut arcu est. Mauris tincidunt nibh non egestas dapibus. Duis orci nisl, tempor vel ligula ut, hendrerit tincidunt diam. Duis porttitor neque nibh, in volutpat tellus scelerisque quis. Sed blandit, tellus ut accumsan commodo, velit erat ornare diam, at fermentum risus urna eu tortor. Proin et lobortis ex. Etiam id lectus auctor nibh gravida placerat. Vivamus vel semper ipsum. Mauris tempor dui nec tortor interdum, quis bibendum tortor condimentum. Aliquam ac nibh hendrerit, porttitor lectus placerat, facilisis nibh.</p>

<div class="language-cpp highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1">// Vivamus nec imperdiet turpis, nec vestibulum libero. Pellentesque tincidunt nisi et euismod dapibus. Nullam facilisis est quam, a consectetur enim mattis aliquet. Praesent</span>
<span class="cp">#include &lt;iostream&gt;
</span><span class="k">using</span> <span class="k">namespace</span> <span class="n">std</span><span class="p">;</span>

<span class="kt">int</span> <span class="nf">main</span><span class="p">()</span>
<span class="p">{</span>
    <span class="n">cout</span> <span class="o">&lt;&lt;</span> <span class="s">"Hello, World!"</span><span class="p">;</span>
    <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</code></pre></div></div>

<p>Donec leo nisl, scelerisque vitae rhoncus vel, facilisis quis felis. Vestibulum nisi purus, malesuada non efficitur varius, rhoncus a ante. Nulla facilisi. Cras semper non nisl a fringilla. Aliquam lobortis dolor eget semper feugiat. Duis consectetur viverra feugiat. Quisque erat enim, malesuada a condimentum vitae, malesuada at velit. Integer ultrices sollicitudin lacinia.</p>

<div class="resp-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/891JhBzr8T4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</div>

  </article>

  <aside><hr>

<h2>Related posts</h2>

<div class="columns is-multiline related-posts-list">
    <div class="column is-one-third-desktop">
    <div class="card related-post"><div class="card-image">
            <figure class="image is-4by3">
                <a href="/2019/05/01/sample/">
                    <img src="/uploads/resized/image-w150.jpg" data-src="/uploads/resized/image-w800.jpg" data-srcset="/uploads%2Fresized%2Fimage-w150.jpg 150w, /uploads%2Fresized%2Fimage-w300.jpg 300w, /uploads%2Fresized%2Fimage-w600.jpg 600w, /uploads%2Fresized%2Fimage-w800.jpg 800w, /uploads%2Fimage.jpg 1024w" sizes="(max-width: 450px) 150px, (max-width: 900px) 300px, (max-width: 1800px) 600px, (max-width: 2400px) 800px, 1024px" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="lazy">
                    <div class="card-image-overlay"></div>
                </a>
            </figure>
        </div><div class="card-footer">
            <div class="card-footer-details">
                <h3>
                    <a class="post-link" href="/2019/05/01/sample/">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </a>
                </h3>
            </div>
        </div>

    </div>
</div><div class="column is-one-third-desktop">
    <div class="card related-post"><div class="card-image">
            <figure class="image is-4by3">
                <a href="/2019/04/01/sample/">
                    <img src="/uploads/resized/image-w150.jpg" data-src="/uploads/resized/image-w800.jpg" data-srcset="/uploads%2Fresized%2Fimage-w150.jpg 150w, /uploads%2Fresized%2Fimage-w300.jpg 300w, /uploads%2Fresized%2Fimage-w600.jpg 600w, /uploads%2Fresized%2Fimage-w800.jpg 800w, /uploads%2Fimage.jpg 1024w" sizes="(max-width: 450px) 150px, (max-width: 900px) 300px, (max-width: 1800px) 600px, (max-width: 2400px) 800px, 1024px" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="lazy">
                    <div class="card-image-overlay"></div>
                </a>
            </figure>
        </div><div class="card-footer">
            <div class="card-footer-details">
                <h3>
                    <a class="post-link" href="/2019/04/01/sample/">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </a>
                </h3>
            </div>
        </div>

    </div>
</div><div class="column is-one-third-desktop">
    <div class="card related-post"><div class="card-image">
            <figure class="image is-4by3">
                <a href="/2019/03/01/sample/">
                    <img src="/uploads/resized/image-w150.jpg" data-src="/uploads/resized/image-w800.jpg" data-srcset="/uploads%2Fresized%2Fimage-w150.jpg 150w, /uploads%2Fresized%2Fimage-w300.jpg 300w, /uploads%2Fresized%2Fimage-w600.jpg 600w, /uploads%2Fresized%2Fimage-w800.jpg 800w, /uploads%2Fimage.jpg 1024w" sizes="(max-width: 450px) 150px, (max-width: 900px) 300px, (max-width: 1800px) 600px, (max-width: 2400px) 800px, 1024px" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="lazy">
                    <div class="card-image-overlay"></div>
                </a>
            </figure>
        </div><div class="card-footer">
            <div class="card-footer-details">
                <h3>
                    <a class="post-link" href="/2019/03/01/sample/">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </a>
                </h3>
            </div>
        </div>

    </div>
</div>
</div></aside><aside id="disqus">
    <hr>
    <div id="disqus_thread"></div><script type="text/javascript" async="">
    var disqus_config = function () {
        this.page.url = "http://localhost:4000/2019/06/01/sample/";
        this.page.identifier = "2019-06-01-sample";
    };
    (function(){
        window.disqus_shortname = "ovcharov";
    })();
</script>
<noscript>Please enable JavaScript to view the <a rel="nofollow noopener noreferrer" target="_blank" href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</aside></section>
          </div>
        </div>
      </section>
    </div>
  </div>

  <footer class="footer layout-footer">
    <div class="container">

      <div class="has-text-centered">
        © 2008–2020 Andrey Ovcharov
      </div>
    </div>
  </footer><script type="text/javascript" async="">
(function(){
    window.addthis_pub_id = "ra-5bd85dc55cad4dd3";
})();
</script><script type="text/javascript" defer="">!function(e){var t={};function n(r){if(t[r])return t[r].exports;var o=t[r]={i:r,l:!1,exports:{}};return e[r].call(o.exports,o,o.exports,n),o.l=!0,o.exports}n.m=e,n.c=t,n.d=function(e,t,r){n.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:r})},n.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},n.t=function(e,t){if(1&t&&(e=n(e)),8&t)return e;if(4&t&&"object"==typeof e&&e&&e.__esModule)return e;var r=Object.create(null);if(n.r(r),Object.defineProperty(r,"default",{enumerable:!0,value:e}),2&t&&"string"!=typeof e)for(var o in e)n.d(r,o,function(t){return e[t]}.bind(null,o));return r},n.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return n.d(t,"a",t),t},n.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},n.p="/assets/",n(n.s="kpGR")}({kpGR:function(e,t,n){"use strict";n.r(t);n("y0MQ");document.addEventListener("DOMContentLoaded",(function(){var e;(e=Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"),0)).length>0&&e.forEach((function(e){e.addEventListener("click",(function(){var t=e.dataset.target,n=document.getElementById(t);e.classList.toggle("is-active"),n.classList.toggle("is-active")}))})),function(){var e=document.createElement("script");e.src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js",e.type="text/javascript",e.async="true";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}(),function(){var e=[].slice.call(document.querySelectorAll("img.lazy"));if("IntersectionObserver"in window){var t=new IntersectionObserver((function(e,n){e.forEach((function(e){if(e.isIntersecting){var n=e.target;t.unobserve(n),n.src=n.dataset.src,n.srcset=n.dataset.srcset,n.onload=function(){n.classList.remove("lazy")}}}))}));e.forEach((function(e){t.observe(e)}))}}(),function(){var e=document.getElementById("disqus");if(e&&"IntersectionObserver"in window){var t=new IntersectionObserver((function(e,n){e.forEach((function(e){if(e.isIntersecting){var n=document.createElement("script");n.src="https://".concat(window.disqus_shortname,".disqus.com/embed.js"),n.type="text/javascript",n.setAttribute("data-timestamp",+new Date),document.body.appendChild(n),t.unobserve(e.target)}}))}));t.observe(e)}}(),setTimeout((function(){!function(){if(window.addthis_pub_id){var e=document.createElement("script");e.src="//s7.addthis.com/js/300/addthis_widget.js#pubid=".concat(window.addthis_pub_id),(document.head||document.body).appendChild(e)}}()}),1500)}))},y0MQ:function(e,t,n){}});</script><script defer="" data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="snakeye" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18"></script>

<div class="nsc-panel nsc-panel-compact nsc-hide">
    <div class="nsc-panel-move"></div>
    <div class="nsc-panel-tooltip">
        <div class="nsc-panel-tooltip-layout" layout="row" layout-align="start center">CTRL+V to toggle the panel</div>
    </div>

    <div class="nsc-panel-layout" flex="" layout="row" layout-align="start center">
        <div class="nsc-panel-groups" flex="" layout="row" layout-align="start start">

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <div class="nsc-panel-button separated active">
                    <div class="nsc-panel-select" flex="" layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex="" layout="row" layout-align="center center">
                            <span class="nsc-icon nsc-icon-cursor-normal" data-i18n="videoPanelSimpleCursor" data-event="nimbus-editor-active-tools" data-event-param="cursorRing">&nbsp;</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow">&nbsp;</span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown to-top">
                        <ul flex="" layout="row" layout-align="start center">
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-shade" data-i18n="videoPanelFocusMouse" data-event="nimbus-editor-active-tools" data-event-param="cursorShadow">&nbsp;</span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-circle" data-i18n="videoPanelAnimatedCursor" data-event="nimbus-editor-active-tools" data-event-param="cursorRing">&nbsp;</span>
                            </li>
                            <!--<li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-tail"></span>-->
                            <!--</li>-->
                            <!--<li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-long"></span>-->
                            <!--</li>-->
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-normal" data-i18n="videoPanelSimpleCursor" data-event="nimbus-editor-active-tools" data-event-param="cursorDefault">&nbsp;</span>
                            </li>
                            <!--<li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-none" data-event="nimbus-editor-active-tools" data-event-param="cursorNone"></span>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /group -->

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-pen" data-i18n="videoPanelPen" data-event="nimbus-editor-active-tools" data-event-param="pen">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-arrow-line" data-i18n="videoPanelArrow" data-event="nimbus-editor-active-tools" data-event-param="arrow">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-square" data-i18n="videoPanelSquare" data-event="nimbus-editor-active-tools" data-event-param="square">&nbsp;</span>
                </button>
                <div class="nsc-panel-button separated">
                    <div class="nsc-panel-select" flex="" layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex="" layout="row" layout-align="center center">
                            <span class="nsc-icon nsc-icon-attention" data-i18n="videoPanelMark" data-event="nimbus-editor-active-tools" data-event-param="notifRed">&nbsp;</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow">&nbsp;</span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown to-top">
                        <ul flex="" layout="row" layout-align="start center">
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-attention" data-i18n="videoPanelMark" data-event="nimbus-editor-active-tools" data-event-param="notifRed">&nbsp;</span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-question" data-i18n="videoPanelQuestion" data-event="nimbus-editor-active-tools" data-event-param="notifBlue">&nbsp;</span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-done" data-i18n="videoPanelCheckmark" data-event="nimbus-editor-active-tools" data-event-param="notifGreen">&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nsc-panel-button assembled">
                    <div class="nsc-panel-select" flex="" layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex="" layout="row" layout-align="center center">
							<span class="nsc-icon nsc-icon-fill-none nsc-panel-icon-fill">
								<span class="nsc-panel-icon-fill-inner" id="nsc_panel_button_colors" style="background:#00FF00;" data-event="nimbus-editor-active-color" data-event-param="#00FF00">&nbsp;</span>
							</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow">&nbsp;</span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown">
                        <div class="nsc-panel-drop-area">
                            <div class="nsc-panel-colors">

                                <!-- picked -->
                                <div class="nsc-colors-picked">
                                    <div class="nsc-colors-picked-layout" flex="" layout="row" layout-align="start start" layout-wrap="">
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#000000">
                                                <span class="nsc-colors-picked-button-inner" style="background: #000000;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#0000FF">
                                                <span class="nsc-colors-picked-button-inner" style="background: #0000FF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FF00FF">
                                                <span class="nsc-colors-picked-button-inner" style="background: #FF00FF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#00FFFF">
                                                <span class="nsc-colors-picked-button-inner" style="background: #00FFFF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#00FF00">
                                                <span class="nsc-colors-picked-button-inner" style="background: #00FF00;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FFFF00">
                                                <span class="nsc-colors-picked-button-inner" style="background: #FFFF00;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FF0000">
                                                <span class="nsc-colors-picked-button-inner" style="background: #FF0000;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FFFFFF">
                                                <span class="nsc-colors-picked-button-inner" style="background: #FFFFFF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <!--<div class="nsc-colors-picked-item">-->
                                        <!--<button class="nsc-colors-picked-button custom" type="button"> -->
                                        <!--<i class="nsc-icon ic-color-custom"></i> -->
                                        <!--</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- /picked -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /group -->

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <button class="nsc-panel-button nsc-hide" type="button">
                    <span class="nsc-icon nsc-icon-eraser" data-i18n="videoPanelClear" data-event="nimbus-editor-active-tools" data-event-param="clear">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-eraser-all" data-i18n="videoPanelClearAll" data-event="nimbus-editor-active-tools" data-event-param="clearAll">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-webcam" data-i18n="videoPanelCamera" id="nimbus_web_camera_toggle">&nbsp;</span>
                </button>
            </div>
            <!-- /group -->
        </div>

        <div class="nsc-panel-actions" flex="none" layout="row" layout-align="start center">
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_play" style="display: none;">
                <span class="nsc-icon nsc-icon-play">&nbsp;</span>
            </button>
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_pause">
                <span class="nsc-icon nsc-icon-pause">&nbsp;</span>
            </button>
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_stop">
                <span class="nsc-icon nsc-icon-stop">&nbsp;</span>
            </button>
        </div>

        <!-- panel togglers -->
        <div class="nsc-panel-togglers" layout="row" layout-align="start center" flex="none">
            <button class="nsc-panel-toggle-button" type="button">
                <span class="nsc-icon nsc-icon-panel-close" data-i18n="videoPanelHideShowPanel">&nbsp;</span>
            </button>
        </div>
        <!-- /panel togglers -->

    </div>
</div>
<div class="nsc-video-editor nsc-hide events" style="width: 1308px; height: 3994px;"><canvas width="1308" height="3994" style="width: 1308px; height: 3994px; position: absolute; top: 0px; left: 0px; z-index: 0;"></canvas><canvas width="1308" height="3994" style="width: 1308px; height: 3994px; position: absolute; top: 0px; left: 0px; z-index: 1;"></canvas><canvas width="1308" height="3994" style="width: 1308px; height: 3994px; position: absolute; top: 0px; left: 0px; z-index: 2;"></canvas></div><div class="nsc-content-camera nsc-hide" style="top: 0px; left: 0px;">
    <div class="nsc-content-camera-buttons" flex="none" layout="row" layout-align="start start">
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_collapse" style="display: none">
            <span class="nsc-icon nsc-icon-panel-collapse"></span>
        </button>
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_expand">
            <span class="nsc-icon nsc-icon-panel-expand"></span>
        </button>
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_close">
            <span class="nsc-icon nsc-icon-panel-close"></span>
        </button>
    </div>
    <div class="nsc-content-camera-container">
        <div class="nsc-content-camera-shadow"></div>
    </div>
</div>
<div style="position: fixed; top: 0px; left: 0px; width: 0px; height: 0px; background: rgba(0, 0, 0, 0); text-align: center; z-index: 9999; transition: all 0.4s ease 0s;"><iframe style="position: fixed; margin: 0px; border: 0px; right: 18px; bottom: 98px; height: 0px; opacity: 0; width: calc(100vw - 38px); max-width: 320px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 16px; background: url(&quot;https://cdn.buymeacoffee.com/assets/img/widget/loader.svg&quot;) center center / 64px no-repeat rgb(255, 255, 255); z-index: 99999; transition: all 0.4s ease 0s; max-height: 620px;"></iframe></div><div id="bmc-wbtn" style="display: flex; align-items: center; justify-content: center; width: 64px; height: 64px; background: rgb(255, 129, 63); color: white; border-radius: 32px; position: fixed; right: 18px; bottom: 18px; box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px; z-index: 999; cursor: pointer; font-weight: 600; transition: all 0.2s ease 0s;"><img src="https://cdn.buymeacoffee.com/widget/assets/coffee%20cup.svg" alt="Buy Me A Coffee" style="height: 40px; width: 40px; margin: 0; padding: 0;"></div><div style="position: fixed; display: block; opacity: 1; right: 102px; bottom: 16px; background: rgb(255, 255, 255); z-index: 999; transition: all 0.4s ease 0s; box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px; padding: 16px; border-radius: 4px; font-size: 14px; color: rgb(0, 0, 0); width: auto; max-width: 260px; line-height: 1.5; font-family: &quot;Avenir Book1&quot;, &quot;Avenir Book2&quot;, &quot;Avenir Book3&quot;, &quot;Avenir Book4&quot;, &quot;Avenir Book5&quot;, &quot;Avenir Book6&quot;, sans-serif;">Thank you for visiting. You can now buy me a coffee!</div><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;"><iframe id="_atssh353" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; top: 0px; z-index: 100000; border: 0px; left: 0px;" src="https://s7.addthis.com/static/sh.f48a1a04fe8dbf021b4cda1d.html#rand=0.7272948033091391&amp;iit=1591783857600&amp;tmr=load%3D1591783857488%26core%3D1591783857561%26main%3D1591783857592%26ifr%3D1591783857607&amp;cb=0&amp;cdn=0&amp;md=0&amp;kw=&amp;ab=-&amp;dh=localhost&amp;dr=http%3A%2F%2Flocalhost%3A4000%2F&amp;du=http%3A%2F%2Flocalhost%3A4000%2F2019%2F06%2F01%2Fsample%2F&amp;href=http%3A%2F%2Flocalhost%3A4000%2F2019%2F06%2F01%2Fsample%2F&amp;dt=Matumba&amp;dbg=0&amp;cap=tc%3D0%26ab%3D0&amp;inst=1&amp;jsl=0&amp;prod=undefined&amp;lng=en&amp;ogt=type%3Darticle%2Cimage%2Csite_name%2Curl%2Cdescription%2Clocale%2Ctitle&amp;pc=men&amp;pub=ra-5bd85dc55cad4dd3&amp;ssl=0&amp;sid=5ee0b1b10070e94b&amp;srf=0.01&amp;ver=300&amp;xck=0&amp;xtr=0&amp;og=title%3DMatumba%26locale%3Den%26description%3DLorem%2520ipsum%2520dolor%2520sit%2520amet%252C%2520consectetur%2520adipiscing%2520elit.%2520Praesent%2520viverra%2520hendrerit%2520commodo.%2520Class%2520aptent%2520taciti%2520sociosqu%2520ad%2520litora%2520torquent%2520per%2520conubia%2520nostra%252C%2520per%2520inceptos%2520himenaeos.%2520Praesent%2520diam%2520justo%252C%2520vestibulum%2520at%2520enim%2520vel%252C%2520blandit%2520tristique%2520purus.%2520Sed%2520gravida%2520scelerisque%2520vehicula.%2520Mauris%2520lorem%2520neque%252C%2520auctor%2520sit%2520amet%2520pulvinar%2520et%252C%2520tempor%2520ac%2520nibh.%2520Pellentesque%2520viverra%2520orci%2520erat%252C%2520id%2520facilisis%2520odio%2520tincidunt%2520a.%2520Mauris%2520vel%2520dolor%2520lacus.%2520Suspendisse%2520eu%2520ipsum%2520in%2520augue%2520tincidunt%2520dictum.%2520Sed%2520vitae%2520cursus%2520odio.%2520Etiam%2520et%2520felis%2520venenatis%2520mi%2520porta%2520finibus.%2520Maecenas%2520volutpat%2520eu%2520orci%2520efficitur%2520interdum.%2520Donec%2520ullamcorper%2520nunc%2520a%2520tincidunt%2520molestie.%2520Suspendisse%2520ut%2520nisi%2520mi.%2520Vestibulum%2520ultrices%2520nisi%2520non%2520mi%2520porta%2520ultricies.%2520Vestibulum%2520vel%2520congue%2520dolor.%2520In%2520vulputate%2520varius%2520odio%252C%2520at%2520condimentum%2520lacus%2520congue%2520at.%26url%3Dhttp%253A%252F%252Flocalhost%253A4000%252F2019%252F06%252F01%252Fsample%252F%26site_name%3DAndrey%2520Ovcharov%26image%3Dhttp%253A%252F%252Flocalhost%253A4000%252Fuploads%252Fimage.jpg%26type%3Darticle&amp;csi=undefined&amp;rev=v8.28.6-wp&amp;ct=1&amp;xld=1&amp;xd=1"></iframe></div><style id="service-icons-0"></style><div class="addthis-smartlayers addthis-smartlayers-desktop" aria-labelledby="at4-share-label" role="region"><div id="at4-share-label">AddThis Sharing Sidebar</div><div id="at4-share" class="at4-share addthis_32x32_style atss atss-right addthis-animated slideInRight"><a role="button" tabindex="0" class="at-share-btn at-svc-google"><span class="at4-visually-hidden">Share to Google Bookmark</span><span class="at-icon-wrapper" style="background-color: rgb(66, 133, 244);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-google-1" class="at-icon at-icon-google" style="fill: rgb(255, 255, 255);"><title id="at-svg-google-1">Google Bookmark</title><g><path d="M16.213 13.998H26.72c.157.693.28 1.342.28 2.255C27 22.533 22.7 27 16.224 27 10.03 27 5 22.072 5 16S10.03 5 16.224 5c3.03 0 5.568 1.09 7.51 2.87l-3.188 3.037c-.808-.748-2.223-1.628-4.322-1.628-3.715 0-6.745 3.024-6.745 6.73 0 3.708 3.03 6.733 6.744 6.733 4.3 0 5.882-2.915 6.174-4.642h-6.185V14z" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="0" class="at-share-btn at-svc-facebook"><span class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-2" style="fill: rgb(255, 255, 255);" class="at-icon at-icon-facebook"><title id="at-svg-facebook-2">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg><div class="at4-share-count-container"><span class="at4-share-count"><span class="at4-visually-hidden">, Number of shares</span></span></div></span></a><a role="button" tabindex="0" class="at-share-btn at-svc-twitter"><span class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-3" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255);"><title id="at-svg-twitter-3">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="0" class="at-share-btn at-svc-print"><span class="at4-visually-hidden">Share to Print</span><span class="at-icon-wrapper" style="background-color: rgb(115, 138, 141);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-print-4" style="fill: rgb(255, 255, 255);" class="at-icon at-icon-print"><title id="at-svg-print-4">Print</title><g><path d="M24.67 10.62h-2.86V7.49H10.82v3.12H7.95c-.5 0-.9.4-.9.9v7.66h3.77v1.31L15 24.66h6.81v-5.44h3.77v-7.7c-.01-.5-.41-.9-.91-.9zM11.88 8.56h8.86v2.06h-8.86V8.56zm10.98 9.18h-1.05v-2.1h-1.06v7.96H16.4c-1.58 0-.82-3.74-.82-3.74s-3.65.89-3.69-.78v-3.43h-1.06v2.06H9.77v-3.58h13.09v3.61zm.75-4.91c-.4 0-.72-.32-.72-.72s.32-.72.72-.72c.4 0 .72.32.72.72s-.32.72-.72.72zm-4.12 2.96h-6.1v1.06h6.1v-1.06zm-6.11 3.15h6.1v-1.06h-6.1v1.06z"></path></g></svg></span></a><a role="button" tabindex="0" class="at-share-btn at-svc-compact"><span class="at4-visually-hidden">More AddThis Share options</span><span class="at-icon-wrapper" style="background-color: rgb(255, 101, 80);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-5" style="fill: rgb(255, 255, 255);" class="at-icon at-icon-addthis"><title id="at-svg-addthis-5">AddThis</title><g><path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg><div class="at4-share-count-container"><span class="at4-share-count"><span class="at4-visually-hidden">, Number of shares</span></span></div></span></a><div id="at4-scc" class="at-share-close-control ats-transparent at4-show at4-hide-content" title="Hide"><div class="at4-arrow at-right">Hide</div></div></div><div id="at4-soc" class="at-share-open-control at-share-open-control-right ats-transparent at4-hide" title="Show" style="padding-right: 15px;"><div class="at4-arrow at-left">Show</div></div></div><div id="at4-thankyou" class="at4-thankyou at4-thankyou-background at4-hide ats-transparent at4-thankyou-desktop addthis-smartlayers addthis-animated fadeIn at4-show" role="dialog" aria-labelledby="at-thankyou-label"><div class="at4lb-inner"><button class="at4x" title="Close">Close</button><a id="at4-palogo"><div><a class="at-branding-info" href="https://www.addthis.com/website-tools/overview?utm_source=AddThis%20Tools&amp;utm_medium=image" title="Powered by AddThis" target="_blank"><span>AddThis</span></a></div></a><div class="at4-thankyou-inner"><div id="at-thankyou-label" class="thankyou-title"></div><div class="thankyou-description"></div><div class="at4-thankyou-layer"></div></div></div></div><div class="at-share-dock-outer addthis-smartlayers at4-visually-hidden addthis-smartlayers-mobile" aria-labelledby="at-share-dock-label" role="region"><div id="at-share-dock-label" class="at4-hide">AddThis Sharing</div><div id="at-share-dock" class="at-share-dock atss atss-bottom at-shfs-large addthis-animated slideInUp"><a href="#" class="at4-count" style="width: 16.6667%;"><span class="at4-counter"></span><span class="at4-share-label">SHARES</span></a><a role="button" tabindex="0" title="Google Bookmark" class="at-share-btn at-svc-google" style="width: 16.6667%;"><span class="at-icon-wrapper" style="background-color: rgb(66, 133, 244);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-google-6" title="Google Bookmark" alt="Google Bookmark" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;" class="at-icon at-icon-google"><title id="at-svg-google-6">Google Bookmark</title><g><path d="M16.213 13.998H26.72c.157.693.28 1.342.28 2.255C27 22.533 22.7 27 16.224 27 10.03 27 5 22.072 5 16S10.03 5 16.224 5c3.03 0 5.568 1.09 7.51 2.87l-3.188 3.037c-.808-.748-2.223-1.628-4.322-1.628-3.715 0-6.745 3.024-6.745 6.73 0 3.708 3.03 6.733 6.744 6.733 4.3 0 5.882-2.915 6.174-4.642h-6.185V14z" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="0" title="Facebook" class="at-share-btn at-svc-facebook" style="width: 16.6667%;"><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-7" title="Facebook" alt="Facebook" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;" class="at-icon at-icon-facebook"><title id="at-svg-facebook-7">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="0" title="Twitter" class="at-share-btn at-svc-twitter" style="width: 16.6667%;"><span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-8" title="Twitter" alt="Twitter" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;" class="at-icon at-icon-twitter"><title id="at-svg-twitter-8">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="0" title="Print" class="at-share-btn at-svc-print" style="width: 16.6667%;"><span class="at-icon-wrapper" style="background-color: rgb(115, 138, 141);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-print-9" title="Print" alt="Print" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;" class="at-icon at-icon-print"><title id="at-svg-print-9">Print</title><g><path d="M24.67 10.62h-2.86V7.49H10.82v3.12H7.95c-.5 0-.9.4-.9.9v7.66h3.77v1.31L15 24.66h6.81v-5.44h3.77v-7.7c-.01-.5-.41-.9-.91-.9zM11.88 8.56h8.86v2.06h-8.86V8.56zm10.98 9.18h-1.05v-2.1h-1.06v7.96H16.4c-1.58 0-.82-3.74-.82-3.74s-3.65.89-3.69-.78v-3.43h-1.06v2.06H9.77v-3.58h13.09v3.61zm.75-4.91c-.4 0-.72-.32-.72-.72s.32-.72.72-.72c.4 0 .72.32.72.72s-.32.72-.72.72zm-4.12 2.96h-6.1v1.06h6.1v-1.06zm-6.11 3.15h6.1v-1.06h-6.1v1.06z"></path></g></svg></span></a><a role="button" tabindex="0" title="More" class="at-share-btn at-svc-compact" style="width: 16.6667%;"><span class="at-icon-wrapper" style="background-color: rgb(255, 101, 80);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-10" title="More" alt="More" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;" class="at-icon at-icon-addthis"><title id="at-svg-addthis-10">AddThis</title><g><path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg></span></a></div></div></body>