.content {

    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    h1 {
        margin-bottom: 0.5em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    h2 {
        margin-bottom: 0.5714em;

        &:not(:first-child) {
            margin-top: 1.1428em
        }
    }

    h3 {
        margin-bottom: 0.6666em;

        &:not(:first-child) {
            margin-top: 1.3333em;
        }
    }

    h4 {}

    h5 {}

    h6 {}

    ol {
        list-style-position: outside;
        margin-left: 2em;
        margin-top: 1em;
    }

    ul {
        list-style: disc outside;
        margin-left: 2em;
        margin-top: 1em;
    }

    figure {
        margin-bottom: 1rem;

        figcaption {
            text-align: center;
            font-size: 0.9rem;
        }
    }

    .resp-container {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}