.site-main-menu {
    display: block;
    padding: 0;
    margin: 0;
    font-family: $family-header;

    li {
        display: block;
        position: relative;
        padding: 0;
        text-align: left;
        font-size: 1.125rem;

        a, a:hover {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            padding: 10px 20px;
            text-align: left;
            color: $link;
            font-weight: 500;
            position: relative;
            text-decoration: none;
            border-bottom: 1px solid #f5f5f5;
            outline: none;

            transition: background-color 0.2s ease-in-out;
        }

        &:first-child a {
            border-top: 1px solid #f5f5f5;
        }

        a:hover, &.is-active a {
            background-color: #fcfcfc;
        }

        a:hover:after, &.is-active a:after {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          content: '';
          width: 3px;
          height: 100%;
          margin: 0 auto;
          background-color: #eee;
          transition: background-color 0.2s ease-in-out;
        }

        &.is-active a:after {
          background-color: $color-accent;
        }

        a {
            ion-icon {
                margin-right: 0.5rem;
            }
        }
    }
}
