.pagination {
    text-align: center;

    > ul  {
      display: inline-block;
      list-style: none;

      > li {
        display: inline-block;

          > a {
            color: $link;
            display: inline-block;
            padding: 8px 16px;
            text-decoration: none;
            font-size: 0.85rem;

            &:hover {
              color: black;
            }
          }

          > span {

          }
      }
    }
}
