ul.social-links {
    display: block;
    list-style: none;
    margin: 3rem 0 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
        margin: 0 2px;
        width: 28px;
        height: 28px;
        color: #888;
        background-color: #eee;
        text-align: center;

        &:hover {
          color: #fff;
          background-color: $color-accent;
        }

        i {
          font-size: 14px;
          line-height: 28px;
        }
        
        &:hover {
          i {
            color: #fff;
          }
          color: $color-accent;
        }
      }

      &:last-child a {
        margin-right: 0;
      }
    }
  }