.tags {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
  
    li {
      display: inline-block;
      margin: 2px 0;
  
      a {
        font-size: $size-7;
        color: $text;
        padding: 0.1rem 0.5rem;
        background-color: #eee;

        &:hover {
            color: $link;
            text-decoration: none;
        }
      }
    }
  }