$fullhd-enabled: false;

$family-primary: 'Roboto', Helvetica, sans-serif;
$family-header: 'PT Sans Narrow', Helvetica, sans-serif;
$family-monospace: 'Roboto Mono', monospace;

$text: #535a60;
$primary: #9d193f;
$link: #22aadd;

$color-header: #222;
$color-accent: $primary;

$body-background-color: #f6f4f3;
