@charset "utf-8";

@import "variables";

// @import "~bulma/bulma";

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

@import "bulma/sass/helpers/_all.sass";

//
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/layout/_all.sass";

@import "bulma/sass/elements/_all.sass";

@import "bulma/sass/components/_all.sass";

html {}

body {
    font-size: 20px;

    @include tablet {
        font-size: 18px;
    }

    @include desktop {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-header;
    font-family: $family-header;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    margin-bottom: 1.5rem;
}

a {
    transition: color 0.25s ease-in;

    &:hover {
        transition: color 0.25s ease-in;
    }
}

.header {
    padding-top: 1rem;
}

.navbar {
    position: relative;
}

.navbar-menu {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.footer {
    font-size: 0.9rem;
}

.site-title {
    color: $color-header;
    font-family: $family-header;
    font-weight: 400;
    font-size: 1.6rem;
}

.site-description {
    font-weight: 400;
    font-family: $family-header;
}

.site-author-photo {
    display: inline-block;
}

.site-nav {
    margin-top: 2rem;
}

.site-main {
    min-height: 100vh;
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 8px #eee;
}

.site-content {
    height: 100%;
}

.page-heading {

    span {
        font-weight: 600;
    }
}

@import "menu";
//@import "social-links";
//@import "tags";

.post-meta {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;

    color: #999;

    a {
        color: #999;

        &:hover {
            color: $link;
        }
    }
}

.related-posts-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;


    .related-post {
        display: flex;
        flex-direction: column;
        height: 100%;

        h3 {
            font-size: 1.2rem;
        }

        figure {
            overflow: hidden;
        }

        img {
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }

            .card-image-overlay {
                background: rgba(0, 0, 0, 0.15);
            }
        }
    }
}

@import "syntax-highlighting";

// addthis
.header {
    .addthis_default_style {

        .addthis_separator,
        .at4-icon,
        .at300b,
        .at300bo,
        .at300bs,
        .at300m {
            float: none;
        }
    }
}

.card-post-container {
    display: flex;

    .card-post {
        display: flex;
        flex-direction: column;
        width: 100%;

        figure {
            overflow: hidden;
        }
    }

    .card-image {
        position: relative;

        img {
            object-fit: cover;
            transition: all 0.2s ease-in-out;
        }

        a:hover {
            img {
                transform: scale(1.05);
            }

            .card-image-overlay {
                background: rgba(0, 0, 0, 0.15);
            }
        }
    }

    .card-content {
        padding: 0;
        flex: 1 0 auto;

        >a {
            display: flex;
            background: linear-gradient(135deg, #f0f0f0 0%, #cccccc 100%);
            text-align: center;
            align-items: center;
            justify-content: center;
            color: #444;
            height: 100%;
            padding: 1.5rem;
            transition: background .2s ease-in;

            &:hover {
                background: linear-gradient(135deg, #fff 0%, #eee 100%);
            }
        }
    }
}

.card-image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.2s ease-in;
}

.card-footer {
    height: 100%;
}

.card-footer-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;

    h3 {
        flex: 1;
    }

    .post-meta {
        margin-bottom: 0;
    }
}

// @import "content";

/*! purgecss start ignore */
.blog-post-content {
    .content {
        margin-bottom: 4rem;
    }
}

code,
pre {
    font-family: $family-monospace;
    overflow-x: scroll;
}

.pagination {

    a,
    span {
        font-size: 0.9rem;
    }
}
/*! purgecss end ignore */

figure.image {
    overflow: hidden;
}

img {
    filter: blur(0);
    transition: filter 0.1s ease-in-out;

    &.lazy {
        filter: blur(20px);
        transition: filter 0.1s ease-in-out;
    }
}
