---
layout: default
pagination:
  enabled: true
---
<h1 class="page-heading">
    {{ site.data.t[site.lang]['autopage']['category']['title'] }}
    <span>{{ site.data.c[page.autopages.display_name] }}</span>
</h1>

{%- include paginated-posts.html -%}
{%- include pagination.html -%}
