<!DOCTYPE html>
<html lang="{{ site.lang }}">
{%- include head.html -%}
{%- include schema-person.html -%}
<body>
  {%- include google-tag-manager-body.html -%}

  <nav class="navbar is-hidden-desktop" role="navigation" aria-label="mobile navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarMenu">
      {% assign pageUrl = page.url | relative_url %}
      {% for item in site.data.menus.header %}
      {% assign itemUrl = item.url | relative_url %}
      <a href="{{ item.url | relative_url }}" title="{{ item.title }}" class="navbar-item">{{ item.title }}</a>
      {% endfor %}
    </div>
  </nav>

  <div class="container columns is-desktop">
    <div class="column is-one-fifth-desktop">
      <header class="header has-text-centered">
        <div class="site-title-block h-card">
          <div class="site-title p-name">{{ site.author.name }}</div>
          <p class="site-description has-text-grey-light p-note">{{ site.description }}</p>

          {% if site.author.photo %}
          <figure class="site-author-photo image is-128x128 is-hidden-touch">
            <img src="{{ site.author.photo }}" alt="{{ site.author.name }}" class="is-rounded u-photo" />
          </figure>
          {% endif %}
        </div>

        <nav class="site-nav is-hidden-touch">
          <ul class="site-main-menu">
            {% assign pageUrl = page.url | relative_url | replace: "index.html", "" %}
            {% for item in site.data.menus.header %}
            {% assign itemUrl = item.url | relative_url %}
            <li {% if pageUrl == itemUrl %}class="is-active" {% endif %}>
              <a href="{{ item.url | relative_url }}" title="{{ item.title }}">
                {%- if item.icon -%}
                <ion-icon name="{{ item.icon }}-outline"></ion-icon>
                {%- endif -%}
                {{ item.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>

        {% if site.addthis.pub_id %}
        <div class="has-text-centered is-hidden-touch">
          <div class="addthis_inline_follow_toolbox"></div>
        </div>
        {% endif %}

      </header>
    </div>

    <div class="column is-four-fifths-desktop">
      <section class="site-main">
        <div class="site-content">
          <div class="pt-page">
            {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
          </div>
        </div>
      </section>
    </div>
  </div>

  <footer class="footer layout-footer">
    <div class="container">
      {% comment %}
      <div class="columns">
        <div class="column">
          <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </div>
      </div>
      {% endcomment %}
      <div class="has-text-centered">
        &copy; 2008&ndash;{{ "now" | date: "%Y" }} {{ site.author.name }}
      </div>
    </div>
  </footer>

  {%- include javascript.html -%}
  </body>
</html>
