---
layout: default
---
<section class="blog-post-content h-entry">
  <h1 class="page-heading p-name">{{ page.title }}</h1>

  <div class="tags">
    {% for tag in page.tags %}
    <a href="/tag/{{ tag | slugify }}/" class="tag p-category">
      #{{ tag }}
    </a>
    {% endfor %}
  </div>

  <div class="post-meta">
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta-date dt-published">{{ page.date | date: date_format }}</span>
    {%- if page.category -%}
    {{ " | " }}
    {% for category in page.category %}
    <span class="post-meta-category">
      <a href="/category/{{ category | slugify }}/" class="p-category">
        {{ site.data.c[category] }}
      </a>
    </span>
    {% endfor %}
    {%- endif -%}
  </div>

  <article class="content e-content">
    {{ content }}
  </article>

  <aside>
    {%- include related-posts.html -%}
  </aside>

  {%- if site.disqus.shortname -%}
  <aside id="disqus">
    <hr />
    <div id="disqus_thread"></div>
    {%- include disqus-comments.html -%}
  </aside>
  {%- endif -%}
</section>
